@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
  url("../fonts/cuprum-v11-latin_cyrillic-regular.woff2") format("woff2"),
  url("../fonts/cuprum-v11-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
  url("../fonts/cuprum-v11-latin_cyrillic-italic.woff2") format("woff2"),
  url("../fonts/cuprum-v11-latin_cyrillic-italic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
  url("../fonts/cuprum-v11-latin_cyrillic-700.woff2") format("woff2"),
  url("../fonts/cuprum-v11-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
  url("../fonts/pt-sans-v11-latin_cyrillic-regular.woff2") format("woff2"),
  url("../fonts/pt-sans-v11-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
  url("../fonts/pt-sans-v11-latin_cyrillic-700.woff2") format("woff2"),
  url("../fonts/pt-sans-v11-latin_cyrillic-700.woff") format("woff");
}

body {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 960px;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*header*/

.header-index {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #f4f7f9;
  border-bottom: 1px solid transparent;
  margin-bottom: 59px;
}

.header-catalog {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #f4f7f9;
  border-bottom: 1px solid transparent;
  margin-bottom: 25px;
}

.header-menu {
  background-color: #293449;
}

.header-menu a {
  text-decoration: none;
  color: #ffffff;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.header-logo {
  background-color: #ee3643;
  display: flex;
  width: 220px;
  box-shadow: 0px 5px 0 0 #B7252F;
}

.header-logo img {
  width: 109px;
  height: 19px;
  margin: 12px 56px 10px 55px;
}

.search {
  display: flex;
}

.search .search-input {
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;
  width: 221px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: #293449;
  outline: none;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:hover + .search-button {
  background-color: #212a3a;
}

.search-input:hover + .search-button path {
  fill: #ffffff;
}

.search-input:focus {
  background-color: #ffffff;
  border: #ffffff;
  outline: none;
}

.search-input:focus + .search-button {
  background-color: #ffffff;
}

.search-input:focus + .search-button path {
  fill: #ee3643;
}

.search-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-button {
  background-color: #293449;
  display: flex;
  order: -1;
  padding: 12px 15px 13px 17px;
  border: 0;
  outline: none;

}

.order-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.order-links a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}

.order-links li {
  position: relative;
}

.links-optional {
  width: 106px;
  padding-left: 44px;
}

.links-optional:hover,
.links-optional:focus {
  background-color: #212a3a;
  outline: none;
}

.links-optional:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.links-optional.full {
  background-color: #ee3643;
}

.links-optional.full:hover,
.links-optional.full:focus {
  background-color: #ca2c37;
  outline: none;
}

.links-optional.full:active {
  background-color: #ba2732;
}

.order-links-item:nth-child(1) .links-optional::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.order-links-item:nth-child(2) .links-optional::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.order-links-item .links-optional:hover::before,
.order-links-item .links-optional:focus::before {
  opacity: 1;
}

.order-links-item .links-optional:active:before {
  opacity: 0.3;
}

.order {
  text-align: center;
  background-color: #63a63e;
  width: 150px;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
  outline: none;
}

.order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}


.header-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.header-info .about-shop {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;

  width: 196px;
  margin-top: 50px;
  margin-left: 53px;
}

.header-address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-top: 47px;
}

.header-address a {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #ee3643;
  position: relative;
  width: 190px;
  margin-bottom: 10px;
  padding-left: 74px;
  padding-top: 10px;
  padding-bottom: 8px;
  border: solid 3px #ffffff;
}

.header-address a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address span {
  font-size: 14px;
  color: #32425c;
}

.account-buttons {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 46px;

}

.account-button {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  background-color: #ffffff;
  padding-top: 13px;
  padding-bottom: 15px;
}

.account-button:hover,
.account-button:focus {
  color: #ee3643;
  outline: none;
}

.account-button.login:hover::before {
  background-image: url("../img/icon-login-blue.svg");
}

.account-button.login:active::before {
  background-image: url("../img/icon-login.svg");
}

.account-button.login {
  position: relative;
  width: 73px;
  margin-right: 10px;
  padding-left: 48px;
}

.account-button.registration {
  width: 150px;
  text-align: center;
}

.account-button.login::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.account-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile {
  margin-top: 46px;
}

.user-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;
  min-width: 300px;
  max-width: 300px;
}

.user-links .user {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  text-decoration: none;
  position: relative;
  outline: none;
  color: #000000;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 47px;
}

.user-links .user::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.user-links .user:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-links .user:hover::before,
.user-links .user:focus::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-user-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-links .user:active::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-links .exit {
  padding-right: 10px;
  height: 17px;
  outline: none;
}

.exit:hover path,
.exit:focus path {
  fill: #293449;
}

.exit:active path {
  fill: #c5c5c5;
}

.profile-links {
  display: flex;
  justify-content: start;
}

.profile-links .profile-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.profile-link:first-child {
  margin-left: 17px;
  margin-right: 32px;
  position: relative;
}

.profile-link:first-child::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -16px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 3px;
}

.profile-link:hover,
.profile-link:focus {
  color: #ee3643;
  outline: none;
}

.profile-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.header-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 21px;
  padding-right: 24px;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.header-navigation li {
  list-style-type: none;
}

.header-navigation a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 22px 31px 26px 31px;
}

.header-navigation a:hover,
.header-navigation a:focus {
  background-color: #293449;
  outline: none;
}

.header-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/*main-index*/

.promo {
  font-family: "Cuprum", "Arial", sans-serif;
  margin-bottom: 53px;
}

.promo-block.products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 0;
}

.promo-block li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 300px;
}

.promo-block p {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;

  margin-top: 22px;
  margin-bottom: 15px;
  margin-left: 23px;
}

.promo-block a {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  width: 111px;
  margin-left: 25px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 24px;
}

.promo-block a:hover,
.promo-block a:focus {
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.promo-block a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
  position: relative;
}

.materials::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.materials .flag {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.materials .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.instruments {
  background-color: #3bbce3;
  position: relative;
}

.instruments::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.technics {
  background-color: #dc91d8;
  position: relative;
}

.technics::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.second-row {
  display: flex;
  justify-content: space-between;
}

.promo-block.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;

}

.sales {
  background-color: #8ed78f;
  position: relative;
}

.sales::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery {
  background-color: #ffc047;
  position: relative;
}

.delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider ul {
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  margin: 0;
}

.slide {
  list-style-type: none;
}

.slide figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.slide figcaption {
  color: #ffffff;
  position: absolute;
  top: 27px;
  left: 24px;
}

.slide .slider-name {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
}

.slide .slider-slogan {
  font-size: 18px;
  margin: 0;
}

.slider a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
  position: absolute;
  bottom: 22px;
  left: 25px;
  padding: 12px 45px 12px 46px;
  border-radius: 3px;
}

.slider a:hover,
.slider a:focus {
  background-color: #ca2c37;
  outline: none;
}

.slider a:active {
  background-color: #ba2732;
}

.slider-buttons {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  border: 0;
}

.slider-buttons:hover {
  cursor: pointer;
}

.slider-buttons.previous-slide {
  background-image: url("../img/icon-left.svg");
  width: 22px;
  height: 40px;
  top: 114px;
  left: 25px;
}

.slider-buttons.next-slide {
  background-image: url("../img/icon-right.svg");
  width: 22px;
  height: 40px;
  top: 114px;
  right: 25px;
}

.slider-buttons.back {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  bottom: 36px;
  left: 295px;
}

.slider-buttons.forward {
  background-color: #ee3643;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 3px;
  bottom: 36px;
  right: 295px;
}

.section-header {
  background-color: #f9f5f0;
  font-family: "Cuprum", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: #32425c;
  margin-top: 33px;
  margin-bottom: 35px;
  margin-left: 30px;
}

.section-header a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
  margin-right: 24px;
  padding: 12px 50px;
  border-radius: 3px;
}

.section-header a:hover,
.section-header a:focus {
  background-color: #ca2c37;
  outline: none;
}

.section-header a:active {
  background-color: #ba2732;
}

.popular-makers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.popular-makers li {
  list-style-type: none;
  border: solid 1px #eaeaea;
  margin-bottom: 20px;
}

.popular-makers .bosch {
  padding: 53px 47px 55px 47px;
  display: block;
}

.popular-makers .makita {
  padding: 50px 49px 55px 48px;
  display: block;
}

.popular-makers .dewalt {
  padding: 48px 37px 53px 37px;
  display: block;
}

.popular-makers .interskol {
  padding: 21px 11px 36px 9px;
  display: block;
}

.popular-makers .hitachi {
  padding: 58px 23px 56px 28px;
  display: block;
}

.popular-makers .lg {
  padding: 35px 51px 37px 48px;
  display: block;
}

.popular-makers .aeg {
  padding: 23px 34px 26px 35px;
  display: block;
}

.popular-makers .metabo {
  padding: 34px 6px 42px 10px;
  display: block;
}

.services-section {
  background-color: #f4f7f9;
  margin-bottom: 82px;
}

.services-section h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 38px;
  padding-top: 68px;

}

.services-slogan {
  width: 398px;
  margin-top: 0;
  margin-bottom: 74px;
}

.services-description {
  display: flex;
  justify-content: left;
}

.services-description dl {
  margin-top: 2px;
  margin-bottom: 0;
}

.services-list {
  display: block;
  margin-top: 0;
  margin-right: 80px;
  margin-bottom: 99px;
  padding: 0;
  position: relative;
}

.services-list::after {
  content: "";
  position: absolute;
  top: -42px;
  right: 0px;
  width: 10px;
  height: 279px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-list li {
  list-style-type: none;
}

.description-active {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
  color: #32425c;
  background-color: #ffffff;
  width: 218px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
  border: 0;
}

.description-active:hover,
.description-active:focus {
  color: #ffffff;
  background-color: #293449;
  outline: none;
}

.description-active:active {
  background-color: #ffffff;
  color: #32425c;
}

.description-inactive {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #32425c;
  width: 218px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 22px;
  border: 0;
}

.description-inactive:hover,
.description-inactive:focus {
  color: #ffffff;
  background-color: #293449;
  outline: none;
}

.description-inactive:active {
  background-color: #ffffff;
  color: #32425c;
}

.description-header {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  margin-bottom: 34px;
}

.description-body {
  width: 275px;
  margin-left: 0;
  position: relative;
}

.description-body::after {
  content: "";
  position: absolute;
  top: -28px;
  right: -364px;
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.services-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #ff5357;
}

.services-list a:hover,
.services-list a:focus {
  background-color: #ca2c37;
  outline: none;
}

.services-list a:active {
  background-color: #ba2732;
}

.two-sections {
  display: flex;
  justify-content: space-between;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 38px;
}

.about p {
  margin-top: 0;
}

.about p:nth-of-type(1) {
  width: 519px;
}

.about p:nth-of-type(2) {
  width: 386px;
}

.about li {
  list-style-type: none;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
  position: relative;
  margin-bottom: 24px;
}

.about li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #ee3643;
  padding: 12px 40px 12px 41px;
  border-radius: 3px;
}

.about a:hover,
.about a:focus {
  background-color: #ca2c37;
  outline: none;
}

.about a:active {
  background-color: #ba2732;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 38px;
}

.contacts p {
  line-height: 24px;
  width: 179px;
  margin-top: 0;
  margin-bottom: 36px;
}

.contacts .map {
  margin-bottom: 40px;
}

.contacts a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
  padding: 12px 44px 12px 44px;
  margin-bottom: 86px;
  border-radius: 3px;
}

.contacts a:hover,
.contacts a:focus {
  background-color: #ca2c37;
  outline: none;
}

.contacts a:active {
  background-color: #ba2732;
}


/*main-catalog*/

.breadcrumb {
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  justify-content: left;
  margin-bottom: 25px;
  padding: 0;
}

.breadcrumb .breadcrumb-link {
  text-decoration: none;
  margin-right: 41px;
  position: relative;
}

.breadcrumb .breadcrumb-link::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -25px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumb .breadcrumb-link:hover,
.breadcrumb .breadcrumb-link:focus {
  text-decoration: underline;
  outline: none;
}

.catalog-header {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  background-color: #f2f6f8;
  padding: 30px 0 30px 34px;
  margin-bottom: 25px;
}

.filter h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #f7f3ec;
  width: 202px;
  padding: 10px 0 10px 18px;
  margin-top: 0;
  margin-bottom: 20px;
}

.two-columns {
  display: flex;
  justify-content: start;
}

.price-filter {
  width: 202px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #f7f3ec;
  border-left: 0;
  margin: 0px 20px 20px 0px;
  padding: 0;
}

.price-filter .input-price {
  font-size: 17px;
  line-height: 18px;
  background-color: #f7f3ec;
  border: 0;
}

.price-filter legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.price-controls {
  display: flex;
  justify-content: start;
  margin-bottom: 25px;
}

.price-controls label:first-child {
  margin-right: 8px;
}

.input-price {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  width: 95px;
}

.price-filter span {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin-right: 8px;
  margin-top: 8px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: rgb(73, 191, 143);
}

.range-toggle {
  position: absolute;
  top: -9px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}

.range-toggle:hover path,
.range-toggle:focus path {
  fill: #32425c;
}

.makers-filter {
  width: 220px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #f7f3ec;
  border-left: 0;
  margin: 0px 0px 20px 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.makers-filter legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.makers-filter p {
  margin-top: 0;
  margin-bottom: 17px;
}

.label-maker {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  margin-left: 35px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label-maker::before {
  content: "";
  top: -1px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  cursor: pointer;
}

.input-maker:checked + .label-maker::before {
  content: "";
  top: -1px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  cursor: pointer;
}


.input-maker:disabled + .label-maker {
  color: rgba(0, 0, 0, 0.4);
}

.input-maker:disabled + .label-maker::before {
  content: "";
  top: -1px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  position: absolute;
  cursor: auto;
}

.input-maker:disabled:checked + .label-maker::before {
  content: "";
  top: -1px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  position: absolute;
  cursor: auto;
}

.label-maker:hover::before,
.input-maker:focus + .label-maker::before {
  content: "";
  top: -1px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  cursor: pointer;
}

.input-maker:checked + .label-maker:hover::before,
.input-maker:checked:focus + .label-maker::before {
  content: "";
  top: -1px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  cursor: pointer;
}

.input-maker:disabled + .label-maker::before {
  cursor: auto;
}

.power-filter {
  width: 220px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #f7f3ec;
  border-left: 0;
  margin: 0px 0px 20px 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.power-filter legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.17px;
  text-transform: uppercase;
}

.power-filter .label-power {
  font-size: 15px;
  line-height: 20px;
}

.input-power:disabled + .label-power {
  color: rgba(0, 0, 0, 0.4);
}

.label-power {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  margin-left: 35px;
}

.label-power::before {
  content: "";
  top: -1px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  cursor: pointer;
}

.label-power:hover::before,
.input-power:focus + .label-power::before {
  content: "";
  top: -1px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  cursor: pointer;
}

.input-power:checked + .label-power::before {
  content: "";
  top: -1px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  cursor: pointer;
}

.input-power:checked + .label-power:hover::before,
.input-power:checked:focus + .label-power::before {
  content: "";
  top: -1px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  cursor: pointer;
}

.filter .button-submit {
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px 38px;
  border: solid 1px #e5e5e5;
  outline: none;
}

.filter .button-submit:hover,
.filter .button-submit:focus {
  border: solid 1px #bdc6ca;
  outline: none;
}

.filter .button-submit:active {
  border: solid 1px #ee3643;
}

.sorting-items {
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  display: flex;

  margin-bottom: 20px;
  padding: 10px 0px 10px 18px;
}

.sorting-items h3 {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px 139px 0px 0px;
}

.sorting-item {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #ee3643;
}

.sorting-item:hover,
.sorting-item:focus {
  border-bottom: 1px solid #ee3643;
  outline: none;
}

.sorting-item:active {
  color: #ee3643;
}

.sorting-items a:nth-of-type(1) {
  margin-right: 71px;
}

.sorting-items a:nth-of-type(2) {
  margin-right: 65px;
}

.sorting-items a:nth-of-type(3) {
  margin-right: 46px;
}

.sorting-type path {
  fill: #c5c5c5;
}

.sorting-items a:nth-of-type(4) {
  margin-right: 21px;
  border: 0;
}

.sorting-items a:nth-of-type(5) {
  margin-right: 17px;
  border: 0;
}

.sorting-type:hover path,
.sorting-type:focus path {
  fill: #000000;
}

.sorting-type:active path {
  fill: #ee3643;
}

.type-active.sorting-type path {
  fill: #ee3643;
}


.sorting-items .sorting-active {
  color: #ee3643;
  border-bottom: 0;
}

.index-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.index-items .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-bottom: 20px;
  padding: 0;
}

.catalog-items .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}

.catalog-item .item-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.item-name a {
  text-decoration: none;
  white-space: pre-wrap;
  color: #000000;
}

.catalog-item .item-discount {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: line-through;
  color: #999999;

  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.catalog-item .item-price {
  position: relative;
  width: 80px;
  margin: 10px auto 20px auto;
  padding: 11px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .item-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-item .item-actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.item-actions a {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  display: block;
  width: 129px;
  margin: 0 auto 7px auto;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
}

.item-actions .buy-button {
  position: relative;
}

.item-actions .buy-button::before {
  content: "";
  top: 8px;
  left: 14px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  position: absolute;
  cursor: pointer;
}

.item-actions .buy-button:hover,
.item-actions .buy-button:focus {
  background-color: #5fbb2d;
  outline: none;
}

.buy-button:active {
  background-color: #518534;
}

.item-actions .to-bookmarks {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.to-bookmarks:hover,
.to-bookmarks:focus {
  border: solid 3px #32425c;
  outline: none;
}

.to-bookmarks:active {
  color: rgba(50, 66, 92, 0.3);
  border: solid 3px #32425c;
  opacity: 0.3;
}

.catalog-item .item-actions {
  display: none;
}

.catalog-item:hover .item-actions {
  display: block;
}

.item-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.pagination {
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 60px;
  padding: 0;
  display: flex;
  justify-content: start;
}

.pagination li {
  list-style-type: none;
}

.pagination a {
  text-decoration: none;
  border: solid 1px #e5e5e5;
  padding: 13px 17px
}

.pagination a:hover,
.pagination a:focus {
  border: solid 1px #bdc6ca;
  outline: none;
}

.pagination a:active {
  border: solid 1px #ee3643;
}

.page-active {
  background-color: #ee3643;
  padding: 13px 17px
}

.pagination .page-next {
  padding: 13px 32px
}

.item-about {
  background-color: #f4f7f9;
  border: 1px solid transparent;
}

.item-about h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-top: 67px;
}

.item-about p {
  margin-bottom: 73px;
}

/*footer*/
.footer {
  background-color: #32425c;
}


.footer-logo {
  background-color: #ee3643;
  display: flex;
  width: 220px;
  box-shadow: 0px 5px 0 0 #B7252F;
  margin-right: 173px;
}

.footer-logo img {
  width: 109px;
  height: 19px;
  margin: 20px 56px 25px 55px;
}

.footer-navigation {
  font-size: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.footer-top {
  display: flex;
  justify-content: start;
  margin-bottom: 32px;
}

.top-links {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.top-links li {
  list-style-type: none;
  margin-right: 60px;
}

.top-links li:last-child {
  margin: 0;
}

.top-links a {
  text-decoration: none;
  color: #ffffff;
  margin-top: 38px;
  display: block;
}

.top-links a:hover,
.top-links a:focus {
  text-decoration: underline;
  outline: none;
}

.top-links a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.footer-bottom {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 53px;
}

.footer-address {
  font-style: normal;
  color: #f1f5f7;
  width: 322px;
  margin-right: 91px;
}

.footer-address a {
  text-decoration: none;
  color: #ffffff;
}

.bottom-links {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.bottom-links li {
  list-style-type: none;
  margin-right: 60px;
}

.bottom-links a {
  text-decoration: none;
  color: #ffd180;
}

.bottom-links li:last-child {
  margin: 0;
}

.bottom-links a:hover,
.bottom-links a:focus {
  text-decoration: underline;
  outline: none;
}

.bottom-links a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-contacts {
  background-color: #293449;
}

.contacts-container {
  font-family: "Cuprum", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
}

.contacts-container p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 228px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 132px;

  list-style: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-link:hover,
.social-link:focus {
  background-color: #ee3643;
}

.contacts-container a {
  font-size: 16px;
  text-decoration: none;
  color: #ffd180;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
  outline: none;
}

.footer-contacts a:active {
  text-decoration: none;
  color: #ee3643;
}

.feedback p {
  margin-bottom: 0;
}

.author p {
  margin-bottom: 0;
}

/*message*/

.form-message {
  font-size: 18px;
  width: 620px;
  margin: 100px auto;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.form-line {
  background-color: #ee3643;
  width: 100%;
  height: 7px;
  margin-bottom: 9px;
}

.form-close {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background-color: transparent;
  border: 0;
}

.form-elements {
  display: flex;
  flex-direction: column;
  margin: 0 80px 37px 80px;
}

.top-line {
  display: flex;
  justify-content: space-between;

}

.form-message .top-input {
  font-family: "Cuprum", "Arial", sans-serif;
  width: 220px;
}

.top-input .input-message {
  width: 204px;
  height: 38px;
  margin-bottom: 22px;
}

.form-message .bottom-input {
  font-family: "Cuprum", "Arial", sans-serif;
}

.bottom-input .input-message {
  width: 442px;
}

.form-message .input-message {
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-top: 13px;
  padding-left: 12px;
  border: solid 2px #d7dcde;
}

.form-message .input-message:hover {
  border: solid 2px #b5b5b5;
  outline: none;
}

.form-message .input-message:focus {
  border: solid 2px #ee3643;
  outline: none;
}

.form-message .input-message::placeholder {
  line-height: 18px;
  color: #999999;
  outline: none;
}

.form-message .button-area {
  background-color: #f4f4f4;
}

.form-message .button-submit {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #ee3643;
  padding: 14px 198px;
  border: 0;
  border-radius: 3px;
  margin: 37px 80px;
}

.form-message .button-submit:hover,
.form-message .button-submit:focus {
  background-color: #ca2c37;
  outline: none;
}

.form-message .button-submit:active {
  background-color: #ba2732;
}

/*add-cart*/
.add-cart {
  font-size: 18px;
  width: 620px;
  margin: 100px auto;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.add-cart h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  position: relative;
  margin-top: 38px;
  margin-bottom: 68px;
  margin-left: 80px;
  padding-left: 98px;

}

.add-cart h2::before {
  content: "";
  top: -20px;
  left: 14px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  cursor: pointer;
}

.add-cart .buttons-back {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #f1f1f1;
  display: flex;
  justify-content: start;
  padding: 37px 80px;
}

.add-cart .issue-order {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
  margin-right: 20px;
  padding: 12px 62px 12px 59px;
  border-radius: 3px;
}

.add-cart .issue-order:hover,
.add-cart .issue-order:focus {
  background-color: #ca2c37;
  outline: none;
}

.add-cart .issue-order :active {
  background-color: #ba2732;
}

.add-cart .button-continue {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 0;
  padding: 12px 48px 12px 44px;
  border-radius: 3px;
}

