@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
  url("../fonts/cuprum-v11-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cuprum-v11-latin_cyrillic-regular.woff2") format("woff2"),
  url("../fonts/cuprum-v11-latin_cyrillic-regular.woff") format("woff"),
  url("../fonts/cuprum-v11-latin_cyrillic-regular.ttf") format("truetype"),
  url("../fonts/cuprum-v11-latin_cyrillic-regular.svg#Cuprum") format("svg");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/cuprum-v11-latin_cyrillic-italic.eot"); /* IE9 Compat Modes */
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
  url("../fonts/cuprum-v11-latin_cyrillic-italic.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cuprum-v11-latin_cyrillic-italic.woff2") format("woff2"),
  url("../fonts/cuprum-v11-latin_cyrillic-italic.woff") format("woff"),
  url("../fonts/cuprum-v11-latin_cyrillic-italic.ttf") format("truetype"),
  url("../fonts/cuprum-v11-latin_cyrillic-italic.svg#Cuprum") format("svg");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cuprum-v11-latin_cyrillic-700.eot");
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
  url("../fonts/cuprum-v11-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cuprum-v11-latin_cyrillic-700.woff2") format("woff2"),
  url("../fonts/cuprum-v11-latin_cyrillic-700.woff") format("woff"),
  url("../fonts/cuprum-v11-latin_cyrillic-700.ttf") format("truetype"),
  url("../fonts/cuprum-v11-latin_cyrillic-700.svg#Cuprum") format("svg");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v11-latin_cyrillic-regular.eot");
  src: local("PT Sans"), local("PTSans-Regular"),
  url("../fonts/pt-sans-v11-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/pt-sans-v11-latin_cyrillic-regular.woff2") format("woff2"),
  url("../fonts/pt-sans-v11-latin_cyrillic-regular.woff") format("woff"),
  url("../fonts/pt-sans-v11-latin_cyrillic-regular.ttf") format("truetype"),
  url("../fonts/pt-sans-v11-latin_cyrillic-regular.svg#PTSans") format("svg");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v11-latin_cyrillic-700.eot");
  src: local("PT Sans Bold"), local("PTSans-Bold"),
  url("../fonts/pt-sans-v11-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
  url("../fonts/pt-sans-v11-latin_cyrillic-700.woff2") format("woff2"),
  url("../fonts/pt-sans-v11-latin_cyrillic-700.woff") format("woff"),
  url("../fonts/pt-sans-v11-latin_cyrillic-700.ttf") format("truetype"),
  url("../fonts/pt-sans-v11-latin_cyrillic-700.svg#PTSans") format("svg");
}

body {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 960px;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/*header*/

header {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #f4f7f9;
}

.header-menu {
  background-color: #293449;
}

.header-menu a {
  text-decoration: none;
  color: #ffffff;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.header-logo {
  background-color: #ee3643;

  display: flex;
  width: 220px;
  box-shadow: 0px 5px 0 0 #B7252F;
}

.header-logo img {
  width: 109px;
  height: 19px;
  margin: 12px 56px 10px 55px;
}

.search {
  display: flex;
}

.search input[name="search"] {
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;
  width: 221px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: #293449;
  outline: none;
}

.search input[type="text"]:hover {
  background-color: #212a3a;
}

.search input[type="text"]:hover + .search-button path {
  background-color: #212a3a;
  fill: #ffffff;
}

.search input[type="text"]:focus {
  background-color: #ffffff;
  border: #ffffff;
  outline: none;
}

.search input[type="text"]:focus + .search-button {
  background-color: #ffffff;
}

.search input[type="text"]:focus + .search-button path {
  fill: #ee3643;
}

.search input[type="text"]::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-button {
  background-color: #293449;
  display: flex;
  order: -1;
  padding: 12px 15px 13px 17px;
  border: 0;
  outline: none;

}

.order-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.order-link {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}

.bookmarks-empty,
.cart-empty {
  position: relative;
  width: 106px;
  padding-left: 44px;
}

.bookmarks-empty:hover,
.bookmarks-empty:focus,
.cart-empty:hover,
.cart-empty:focus {
  background-color: #212a3a;
  outline: none;
}

.bookmarks-empty:active,
.cart-empty:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.bookmarks-full,
.cart-full {
  background-color: #ee3643;
  position: relative;
  width: 106px;
  padding-left: 44px;
}

.bookmarks-full:hover,
.bookmarks-full:focus,
.cart-full:hover,
.cart-full:focus {
  background-color: #ca2c37;
  outline: none;
}

.bookmarks-full:active,
.cart-full:active {
  background-color: #ba2732;
}

.bookmarks-empty::before,
.bookmarks-full::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart-empty::before,
.cart-full::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks-empty:hover:not(:active)::before,
.bookmarks-full:hover:not(:active)::before,
.cart-empty:hover:not(:active)::before,
.cart-full:hover:not(:active)::before,
.bookmarks-empty:focus:not(:active)::before,
.bookmarks-full:focus:not(:active)::before,
.cart-empty:focus:not(:active)::before,
.cart-full:focus:not(:active)::before {
  opacity: 1;
}

.order {
  text-align: center;
  background-color: #63a63e;
  width: 150px;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
  outline: none;
}

.order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}


.header-info {
  display: flex;
  justify-content: start;
}

.header-info p {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;

  width: 196px;
  margin-top: 54px;
  margin-left: 53px;
  margin-right: 71px;
}

.header-address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-top: 47px;
}

.header-address a {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #ee3643;
  position: relative;
  width: 190px;
  margin-bottom: 10px;
  margin-right: 69px;
  padding-left: 74px;
  padding-top: 10px;
  padding-bottom: 8px;
  border: solid 3px #ffffff;
}

.header-address a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address span {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.account-buttons {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 46px;

}

.account-button {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  padding-top: 13px;
  padding-bottom: 15px;
}

.account-button:hover,
.account-button:focus {
  color: #ee3643;
  outline: none;
}

.account-button.login:hover:not(:active)::before {
  background-image: url("../img/icon-login-blue.svg");
}

.account-button.login {
  position: relative;
  width: 73px;
  margin-right: 10px;
  padding-left: 48px;
}

.account-button.registration {
  width: 150px;
  text-align: center;
}

.account-button.login::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.account-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile {
  background-color: #ffffff;
}

.user {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.user:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.profile-link:hover,
.profile-link:focus {
  color: #ee3643;
  outline: none;
}

.profile-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.header-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  display: flex;
  justify-content: space-between;
  margin-bottom: 119px;
  padding-left: 21px;
  padding-right: 24px;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.header-navigation li {
  list-style-type: none;
}

.header-navigation a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 22px 31px 26px 31px;
}

.header-navigation a:hover,
.header-navigation a:focus {
  background-color: #293449;
  outline: none;
}

.header-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/*main-index*/

.promo {
  font-family: "Cuprum", "Arial", sans-serif;
}

.promo-block.products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 0;
}

.promo-block li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 300px;
}

.promo-block p {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;

  margin-top: 22px;
  margin-bottom: 15px;
  margin-left: 23px;
}

.promo-block a {
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  width: 111px;
  margin-left: 25px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 24px;
}

.promo-block a:hover,
.promo-block a:focus {
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.promo-block a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
  position: relative;
}

.materials::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.materials .flag {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.materials .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.instruments {
  background-color: #3bbce3;
  position: relative;
}

.instruments::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.technics {
  background-color: #dc91d8;
  position: relative;
}

.technics::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.second-row {
  display: flex;
  justify-content: space-between;
}

.promo-block.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;

}

.sales {
  background-color: #8ed78f;
  position: relative;
}

.sales::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery {
  background-color: #ffc047;
  position: relative;
}

.delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider ul {
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  margin: 0;
}

.slide {
  list-style-type: none;
}

.slide figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.slide figcaption {
  color: #ffffff;
  position: absolute;
  top: 27px;
  left: 24px;
}

.slide .slider-name {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
}

.slide .slider-slogan {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.slider a {
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
  position: absolute;
  bottom: 22px;
  left: 25px;
  padding: 14px 45px 14px 49px;
  border-radius: 5px;
}

.slider a:hover,
.slider a:focus {
  background-color: #ca2c37;
  outline: none;
}

.slider a:active {
  background-color: #ba2732;
}

.slider-buttons {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  border: 0;
}

.slider-buttons:hover {
  cursor: pointer;
}

.slider-buttons.previous-slide {
  background-image: url("../img/icon-left.svg");
  width: 22px;
  height: 40px;
  top: 114px;
  left: 25px;
}

.slider-buttons.next-slide {
  background-image: url("../img/icon-right.svg");
  width: 22px;
  height: 40px;
  top: 114px;
  right: 25px;
}

.slider-buttons.back {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  bottom: 36px;
  left: 295px;
}

.slider-buttons.forward {
  background-color: #ee3643;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 5px;
  bottom: 36px;
  right: 295px;
}

.section-header {
  background-color: #f9f5f0;
  font-family: "Cuprum", "Arial", sans-serif;

}

.section-header h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: #32425c;
}

.section-header a {
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
}

.section-header a:hover,
.section-header a:focus {
  background-color: #ca2c37;
  outline: none;
}

.section-header a:active {
  background-color: #ba2732;
}

.services-section {
  background-color: #f4f7f9;
}

.services-section h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}

.services-slogan {
  font-size: 13px;
  line-height: 24px;
}

.services-description li {
  list-style-type: none;
}

.description-active {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  background-color: #ffffff;
  border: 0;
}

.description-active:hover,
.description-active:focus {
  color: #ffffff;
  background-color: #293449;
  outline: none;
}

.description-active:active {
  background-color: #ffffff;
  color: #32425c;
}

.description-inactive {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #32425c;
  border: 0;
}

.description-inactive:hover,
.description-inactive:focus {
  color: #ffffff;
  background-color: #293449;
  outline: none;
}

.description-inactive:active {
  background-color: #ffffff;
  color: #32425c;
}

.description-header {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
}

.description-body {
  font-size: 13px;
  line-height: 24px;
}

.services-description a {
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #ff5357;
}

.services-description a:hover,
.services-description a:focus {
  background-color: #ca2c37;
  outline: none;
}

.services-description a:active {
  background-color: #ba2732;
}

.about h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

.about p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about li {
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

.about a {
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #ee3643;
}

.about a:hover,
.about a:focus {
  background-color: #ca2c37;
  outline: none;
}

.about a:active {
  background-color: #ba2732;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.contacts a {
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
}

.contacts a:hover,
.contacts a:focus {
  background-color: #ca2c37;
  outline: none;
}

.contacts a:active {
  background-color: #ba2732;
}

/*main-catalog*/

.breadcrumb {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
}

.breadcrumb a {
  text-decoration: none;
  color: #000000;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
  text-decoration: underline;
  outline: none;
}

.catalog-header {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  background-color: #f2f6f8;
}

.filter h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #f7f3ec;
}

.price-filter {
  border: 0;
}

.price-filter input[type="text"] {
  font-size: 17px;
  line-height: 18px;
  background-color: #f7f3ec;
  border: 0;
}

.price-filter legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.price-filter span {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.makers-filter {
  border: 0;
}

.makers-filter legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.makers-filter label {
  font-size: 15px;
  line-height: 20px;
}

.makers-filter [type="checkbox"]:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.power-filter {
  border: 0;
}

.power-filter legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.17px;
  text-transform: uppercase;
}

.power-filter label {
  font-size: 15px;
  line-height: 20px;
}

.power-filter [type="radio"]:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter .button-submit {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  outline: none;
}

.filter .button-submit:hover,
.filter .button-submit:focus {
  border: solid 1px #bdc6ca;
  outline: none;
}

.filter .button-submit:active {
  border: solid 1px #ee3643;
}

.list-items li {
  list-style-type: none;
}

.sorting-items {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting-items h3 {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.sorting-items a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #ee3643;
}

.sorting-items a:hover,
.sorting-items a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
  outline: none;
}

.sorting-items a:active {
  color: #ee3643;
}

.sorting-items .sorting-active {
  color: #ee3643;
  border-bottom: 0;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.item del {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
}

.buy-button {
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #63a63e;
  border: 0;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
  outline: none;
}

.buy-button:active {
  background-color: #518534;
}

.to-bookmarks {
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.to-bookmarks:hover,
.to-bookmarks:focus {
  border: solid 3px #32425c;
  outline: none;
}

.to-bookmarks:active {
  color: rgba(50, 66, 92, 0.3);
  border: solid 3px #32425c;
  opacity: 0.3;
}

.item-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.pagination {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination li {
  list-style-type: none;
}

.pagination a {
  text-decoration: none;
  color: #000000;
  border: solid 1px #e5e5e5;
}

.pagination a:hover,
.pagination a:focus {
  border: solid 1px #bdc6ca;
  outline: none;
}

.pagination a:active {
  border: solid 1px #ee3643;
}

.page-active {
  background-color: #ee3643;
}

.item-about {
  background-color: #f4f7f9;
}

.item-about h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
}

.item-about p {
  font-size: 13px;
  line-height: 24px;
}

/*footer*/
.footer {
  background-color: #32425c;
}

.footer-navigation {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.top-links li {
  list-style-type: none;
}

.top-links a {
  text-decoration: none;
  color: #ffffff;
}

.top-links a:hover,
.top-links a:focus {
  text-decoration: underline;
  outline: none;
}

.top-links a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.footer-address {
  font-style: normal;
  color: #f1f5f7;
}

.footer-address a {
  text-decoration: none;
  color: #ffffff;
}

.bottom-links li {
  list-style-type: none;
}

.bottom-links a {
  text-decoration: none;
  color: #ffd180;
}

.bottom-links a:hover,
.bottom-links a:focus {
  text-decoration: underline;
  outline: none;
}

.bottom-links a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-contacts {
  font-family: "Cuprum", "Arial", sans-serif;
}

.footer-contacts p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-contacts a {
  text-decoration: none;
  color: #ffd180;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
  outline: none;
}

.footer-contacts a:active {
  text-decoration: none;
  color: #ee3643;
}

/*message*/

.message {
  font-size: 18px;
  width: 620px;
}

.message [name^="message"] {
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  border: solid 2px #d7dcde;
}

.message [name^="message"]:hover {
  border: solid 2px #b5b5b5;
  outline: none;
}

.message [name^="message"]:focus {
  border: solid 2px #ee3643;
  outline: none;
}

.message [name^="message"]::placeholder {
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  outline: none;
}

.message .button-submit {
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #ee3643;
  border: 0;
}

.message .button-submit:hover,
.message .button-submit:focus {
  background-color: #ca2c37;
  outline: none;
}

.message .button-submit:active {
  background-color: #ba2732;
}

/*add-cart*/
.add-cart {
  width: 620px;
}

.add-cart h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}

.add-cart .buttons-back {
  background-color: #f1f1f1;
}

.add-cart a {
  line-height: 18px;
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #ee3643;
}

.add-cart a:hover,
.add-cart a:focus {
  background-color: #ca2c37;
  outline: none;
}

.add-cart a:active {
  background-color: #ba2732;
}

.add-cart .button-continue {
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #ffffff;
  border: 0;
}

